<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
	        http://www.springframework.org/schema/task
		    http://www.springframework.org/schema/task/spring-task-3.1.xsd">


    <context:component-scan base-package="com.zy"></context:component-scan>

	<!--开启注解模式-->
	<task:annotation-driven/>

	<!-- 数据库连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/zc?useUnicode=true&amp;characterEncoding=utf-8&amp;allowMultiQueries=true&amp;useAffectedRows=true" />
		<property name="username" value="root" />
		<property name="password" value="root" />
		<!--maxActive: 最大连接数量 -->
		<property name="maxActive" value="20" />
		<!--minIdle: 最小空闲连接 -->
		<property name="minIdle" value="5" />
		<!--maxIdle: 最大空闲连接 -->
		<property name="maxIdle" value="5" />
	</bean>
	<!-- mybatis 配置信息 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- 配置文件 -->
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<!-- 映射Mapper文件 -->
		<property name="mapperLocations" value="classpath:com/zy/*/dao/mapper/*.xml"></property>
	</bean>


	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<!-- 配置接口路径 -->
		<property name="basePackage" value="com.zy.*.dao" />
	</bean>

	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 配置数据源 引入数据库连接池 获取到数数据连接 -->
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 定义advice,配置传播特性、事务隔离级别、只读事务、回滚策略 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED"  rollback-for="java.lang.Exception" />
			<tx:method name="up*" propagation="REQUIRED"  rollback-for="java.lang.Exception" />
			<tx:method name="del*" propagation="REQUIRED"  rollback-for="java.lang.Exception" />
			<tx:method name="*" propagation="REQUIRED" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<!-- 定义那些类使用事务 -->
	<aop:config>
		<aop:advisor pointcut="execution(* com.zy.*.service.*.*(..))" advice-ref="txAdvice" />
	</aop:config>
	
</beans> 
